/* Admin bileşeni ana konteyner */
div {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Form etiketleri */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Form girişleri */
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Dosya yükleme girişi */
  input[type="file"] {
    margin-top: 5px;
  }
  
  /* Gönder düğmesi */
  button[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Gönder düğmesi hover efekti */
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  